  *,::before,::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: linear-gradient(135deg, #ff9a9e 0%, #fecfef 100%, #fe99ff 100%);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .profile {
    background: #fecfef;
    color: #2c2c2c;
    font: 400 16px/25px sans-serif;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }
  
  
.search{background: skyblue; padding: 10px; display: flex; align-items: center; justify-content: space-around;}
.search h1{font: 400 32px sans-serif;}
.search input.find{padding:10px; width: 300px; font: 400 18px sans-serif; border: none; outline: none;}
.search .btn{padding:9px; font: 400 18px sans-serif; cursor: pointer;}

  .container {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  .cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    gap: 20px; 
  }
  
  .image {
    width: 100%;
    max-width: 300px; 
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .image img {
    width: 100%;
    height: 250px; 
    object-fit: cover; 
  }
  
  .caption {
    padding: 5px 10px;
    font: 400 16px sans-serif;
    cursor: pointer;
    border: 1px solid;
    margin-top: 10px;
  }
  
  /* Responsive Styles */
  @media (max-width: 1024px) {
    .image {
      max-width: 250px;
    }
  }
  
  @media (max-width: 768px) {
    .cart {
      flex-direction: column;
      justify-content: center;
    }
  
    .image {
      max-width: 100%;
    }
    .search {
      flex-direction: column;
      align-items: stretch; 
    }
  
    .search input.find {
      max-width: 100%; 
      margin: 10px 0;
    }
  
    .search .btn {
        max-width: 100%; 
       
    }
  }
  
  @media (max-width: 480px) {
    .image {
      max-width: 100%;
    }
  
    .image img {
      height: 200px; 
    }
    .search h1 {
      font-size: 24px; 
    }
  
    .search input.find {
      font-size: 16px; 
    }
  
    .search .btn {
      font-size: 16px; 
    }
  }
  